## 쿼리 필수 요소

- 빅쿼리 특징
    1. 구조화, 준구조화( semi-structured )된 데이터를 위한 영구 스토리지를 제공하는 데이터 웨어하우스
    2. 데이터 분석을 위한 도구

- 기본 작업
    - create : 
        1. 새 레코드 추가
        2. SQL INSERT 문을 통한 로드 작업, 스트리밍 삽입 API를 통해 구현
        3. sql로 데이터 정의 언어 ( DDL : Data Definition Language )를 지원하는 테이블, 뷰, 머신러닝 모델 같은 데이터베이스 객체 생성
    - Read : 
        1. 레코드 검색 
        2. SQL SELECT 문과 벌크 read API로 구현
    - Update :
        1. 기존 레코드 수정
        2. 빅쿼리의 데이터 조작 언어 ( DML : DAata Manipulation Language )의 일부인 sql UPDATE 및 MERGE 문으로 구현
    - Delete :
        1. 기존 레코드 제거
        2. DML 작업 중 하나인 SQL DELETE로 구현

In [ ]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# select로 행 검색

In [8]:
query ="""
SELECT gender, tripduration
FROM `bigquery-public-data.new_york_citibike.citibike_trips` 
LIMIT 5
"""

df = pd.read_gbq(query = query, dialect='standard', project_id='project-bigquery-319110', auth_local_webserver=True)

Downloading: 100%|█████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 14.93rows/s]

In [9]:
df

   gender  tripduration
0    male           432
1  female          1186
2    male           799
3  female           238
4    male           668

In [10]:
# 컬럼의 이름 변경

query ="""
SELECT gender, tripduration/60 as duration_minutes
FROM `bigquery-public-data.new_york_citibike.citibike_trips` 
LIMIT 5
"""

df = pd.read_gbq(query = query, dialect='standard', project_id='project-bigquery-319110', auth_local_webserver=True)

Downloading: 100%|█████████████████████████████████████████████████████████████████████| 5/5 [00:00<00:00, 14.76rows/s]

In [11]:
df

   gender  duration_minutes
0    male          7.200000
1  female         19.766667
2    male         13.316667
3  female          3.966667
4    male         11.133333